@import url('https://fonts.googleapis.com/css?family=Libre+Franklin');
@import "~@material/ripple/dist/mdc.ripple.min.css";
@import "~@material/textfield/dist/mdc.textfield.min.css";
@import "~@material/layout-grid/dist/mdc.layout-grid.min.css";
@import "~@material/button/dist/mdc.button.min.css";
@import "~@material/card/dist/mdc.card.min.css";
@import "~@material/typography/dist/mdc.typography.min.css";

* {
  --mdc-theme-primary: #006DFF;
  --mdc-theme-secondary: #67a8fc;
  --mdc-theme-on-primary: #00367c;
  --mdc-theme-on-secondary: #00367c;
}

.token-label-space {
  margin-right: .5rem;
}

.mdc-text-field--focused {
  color: var(--mdc-theme-on-primary) !important;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v43/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}



div {
  font-family: 'Libre Franklin', sans-serif;
}

.token-input-style {
  width: 100%;
  width: -moz-available;          /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
  width: fill-available;
}

.token-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}

.input-container-numbers {
  display: flex;
  flex-wrap: wrap;
  width: 12rem;
  position: absolute;
  right: 3rem;
  top: 3rem;
}

